body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("saut-haies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

canvas {
  border-bottom: 2px solid white;
}
