body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("terrain-de-rugby.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
